.App {
  text-align: center;
  background: var(--background);
  background-size: cover;
  /* overflow-y: auto; */
}

.App::-webkit-scrollbar {
  width: 16px;
  background-color: var(--secondary-background);
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  border-left: 5px solid var(--secondary-background);
  box-shadow: 3px 3px 5px #000, inset 3px 3px 8px black;
}

.App::-webkit-scrollbar-thumb {
  background-color: black;
  box-shadow: var(--name-font-color) 5px 1px 8px, inset var(--name-font-color) 2px 2px 8px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}


.theme-popup {
  position: fixed;
  right: 0;
  top: 15vh;
  background-color: var(--panel-background-color);
  opacity: 0.9;
  border: 5px solid var(--secondary-background-color);
  box-shadow: 3px 5px 10px var(--main-font-color), 5px 5px 10px var(--main-font-color) inset;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: hidden;
  z-index: 1000;
  transition: 0.3s;
  height: 70vh;
  width: 60vw;
  transform: translateX(100%);
  overflow-y: auto;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.slidein {
  animation: slide-in 0.5s forwards;
}

.slideout {
  animation: slide-out 0.5s forwards;
}

.theme-popup-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  color: var(--panel-font-color);
  font-weight: 100;
  text-shadow: 5px 5px 20px var(--nav-color);
  position: relative;
  font-size: 30px;
  margin-bottom: 30px ;
  cursor: pointer;
  transition: 0.3s;
}

.theme-popup-inner:hover{
  scale:1.05;
  transition: 0.3s;
}

.theme-popup-button {
  position: fixed;
  right: 0px;
  top: 50%;
  transform: translate(10px, -10px) rotateZ(-90deg);
  background-color: transparent;
  color: var(--panel-button-color);
  border: none;
  cursor: pointer;
  z-index: 1001;
  transition: 0.3s;
  font-size: 40px;
  outline: none;
}

.theme-popup-button-top {
  transform: translate(10px, -20px) rotateZ(-270deg);
  position: fixed;
  font-size: 40px;
  top: 50%;
  color: var(--panel-button-color);
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1002;
  transition: 0.5s;
  outline: none;
}

.theme-popup-button:hover {
  cursor: pointer;
  transition: 0.2s;
  transform: translate(1px, -10px) rotateZ(-90deg);
}

.theme-img {
  margin-top: 5px;
  filter: drop-shadow(5px 5px 20px var(--main-font-color));
  width: 70%
}

.theme-popup::-webkit-scrollbar {
  width: 16px;
  background-color: var(--secondary-background);
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  border-left: 5px solid var(--secondary-background);
  box-shadow: 3px 3px 5px #000, inset 3px 3px 8px black;
}

.theme-popup::-webkit-scrollbar-thumb {
  background-color: black;
  box-shadow: var(--name-font-color) 5px 1px 8px, inset var(--name-font-color) 2px 2px 8px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}

.current-theme{
  color: red;
}

@media (max-width: 1000px) {
  .theme-popup{ 
    top: 25vh;
    justify-content: space-evenly;
  }

  .theme-img{
    width: 50%;
  }
}